main {
  display: flex;
}

video {
  position: absolute;
  left: 51%;
  z-index: -10;
}

.hero__container{
  margin: 110px 0 140px;
  --tw-text-opacity: 1;
  color: rgba(255,255,255,var(--tw-text-opacity));
  width: 100%;
}

.hero__title {
  font-size: 100px;
  font-family: 'promitechligth';
  letter-spacing: 6px;
  line-height: 120px;
  width: 1260px;
  margin: 0 auto;
}


.hero__title--gradient1 {

  background: var(--gradient1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.hero__description {
  width: 1260px;
  margin: 50px auto;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
}

.hero__buttons {
  width: 1260px;
  margin: 0 auto;
}

.hero__buttons--email{
  padding: 12px 18px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-radius: 9999px;
  border: 2px solid transparent;
  background-color: #cccccc52;
  color: #fff;
}

.hero__buttons--email:hover{
  background-color: black;
  border: 2px solid white;
}

.hero__buttons--touch {
  margin-left: 20px;
  padding: 13px 2px;
  border-radius: 46px;
  overflow: hidden;
  background: var(--gradient1);
  color: #fff;
}

.hero__buttons--touch:hover {
  margin-left: 20px;
  padding: 13px 2px;
  border-radius: 46px;
  overflow: hidden;
  background: white;
  color: #fff;
}

.hero__buttons--touch span{
  background: black;
  padding: 11px 18px;
  border-radius: 45px;
}

.hero__buttons--touch span:hover {
  background: white;
  color: black;
  border-radius: 45px;
}